    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>Hi! My name is Trishala Neeraj. I am a first-year graduate student in the Information Science Department at Cornell University at Cornell Tech. My academic interests include Natural Language Processing, Machine Learning and Deep Learning. I obtained my undergraduate degree from BITS Pilani, India, in May 2016.
                </p>

                
                <p>
                Currently, I am working on my Graduate Specialization research involving relationship extraction methods in natural language processing, particularly applied to the area investigative journalism.

                In the recent past, I worked on topic modeling of self-disclosed textual information in online user profiles as part of research at the <a href="https://s.tech.cornell.edu/">Social Technology Lab</a>.

                In the past I have also been a part of the <a href="http://ptl.sys.virginia.edu/ptl/">Predictive Technology Laboratory</a> at University of Virginia, while I worked there as a visiting research intern, where I completed my Undergraduate Thesis under the supervision of Dr. Matthew Gerber.

                Details about all my projects so far can be found on my LinkedIn profile.
                </p>
                

                

                
            </div>
        </div>
    </section>