    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Resume</h2>
                    <p>Click below to view or to download my one-page resume. Details about my experiences can be found on my LinkedIn profile.</p>
                    <a href="https://drive.google.com/open?id=0BzUBK2i2TE0iN1U5YkNBalJDMkk" class="btn btn-default btn-lg">PDF</a>
                </div>
            </div>
        </div>
    </section>
